*{
  border: 1px solid red;
  padding: 10px;
  box-sizing: content-box;
  font-size: 12px;
  font-family: 굴림 나눔고딕;
}

a{ /* a마크업 기본 css 제거*/
  text-decoration: none; /* 밑줄 제거*/
  color: black;
}

li{
  list-style-type : none; /* 목록 글머리 제거*/
}

.header{
  display: flex;
   justify-content: space-between;
   width: 1280px
}

.left-header{
  display: flex;
  flex-direction: column;
  width: 200px;
}

.right-header{
  display: flex;
  flex-direction: column;
  width: 500px;
}

.개인정보{
    display: flex;
  flex-direction: row;
}

.메뉴{
    display: flex;
  flex-direction: row;
}
