 *{

  box-sizing: content-box;
  font-size: 12px;
  padding: 0px; margin: 0px;
  font-family: 굴림 나눔고딕;
 }

 #header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    margin: 0 auto;
 }


#header .top-menu{
  display: flex;
  justify-content: flex-end;
  margin: 10px 0px;
}

#header .top-menu li a{
  margin-left: 30px;
  font-size: 12px;
  
}

#header .bottom-menu{
  display: flex;
  justify-content: flex-end;
 
}
#header .bottom-menu li a{
  margin-left: 30px;
  font-size: 18px;
  font-weight: bold;
}
 a{ /* a마크업 기본 css 제거*/
  text-decoration: none; /* 밑줄 제거*/
  color: black;
}

li{
  list-style-type : none; /* 목록 글머리 제거*/
}

#main{
  display: flex;
  justify-content: space-between;
  width: 1280px; margin: 0 auto;
}
.메인사진{
  margin: 15px 0px;
}

#sidebar{
  padding: 15px;
}
#left-sidebar > li{
 width: 220px;
 padding: 10px ;
 border-bottom: 1px solid #eeeeee;
}

#sidebar > h3{
  font-size: 20px;
  padding: 10px;
  border: 1px solid #eeeeee;
  color: white;
  background-color: gray;
}
#content{
  width: 1000px;
}

#top-content1 > h3{
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
  margin: 10px 0px;
  font-size: 15px;


}

#top-content2{
  padding: 10px 0px;
}

.bottom-content{
 margin-bottom:  20px;
}

.사진 > img{
  margin: 0px auto;
  display: block;
}

#footer{
 color: white;
  background-color: black;
  padding: 15px 0px;
}

#footer-inner{
   width: 1280px;
   margin: 0 auto;
  display: flex;
  justify-content: space-between;
}