
*{
  padding: 0px;
  margin: 0px;

  box-sizing: content-box;
  font-size: 12px;
}

a{ /* a마크업 기본 css 제거*/
  text-decoration: none; /* 밑줄 제거*/
  color: black;
}

li{
  list-style-type : none; /* 목록 글머리 제거*/
}

.left-header{
  font-size: 15px;
  font-weight: bold;
}
.header{
  display: flex;
  justify-content:space-evenly;
  margin: 20px;
  padding: 0px 400px;

}

.효과{
  color: blue;
  font-weight: bold;
}


.하이퍼{
  display: flex;
  flex-direction: row;
  width: 500px;
}
.하이퍼 li{
 width: 90px;
  
}
.top-main{
  display: flex;
  justify-content: center;
 
}

.bottom-main{
 display: flex;
 justify-content: center;
  padding: 20px;
}

.bottom-main-left{
   display: flex;
    width: 300px;
    padding-right: 20px;
}

.bottom-main-right{
   display: flex;
   width: 300px;
   padding-left: 20px;
}
.siderbar{
  display: flex;
  padding: 30px;
  background-color: bisque;
  justify-content: center;
}

.side{
  margin: 10px;
}

.footer{
  display: flex;
  justify-content: center;
  background-color: black;
  color: aliceblue;
  padding-top:  20px;
  padding-bottom: 30px;
  margin-top: 10px;
}

.center-footer{
  margin: 0px 180px;
}