.box{ /* withd 와 heigh을 생략 시 *상위 요소*크기를 따라감 */
  border: 1px solid red;
  margin: 10px;
  margin-bottom: 50px;
  padding: 10px;
}

.size1{ width: 200px; height: 300px; }
/* [2] 최소 사이즈 설정*/
/* min-width : 최소 사이즈 설정*/
.size2{ min-width: 600px; }  /* 페이지 크기가 600보다 작으면 600px로 고정*/
.size3{ min-width: 200px; min-height: 100px;}

/* [3] 최대 사이즈 설정 */

.size4{max-width: 600px; /* 화면이 600px보다 크면 600px로 고정 작으면 100%*/}
.size5{max-height: 100px;} /* 내용의 높이가 100px보다 크면 100px고정, 작으면 100%*/

/* [4] 만약에 하위 요소의 컨텐츠/내용이 부모 요소의 크기가 크면/넘치면 */
.size6{ width:200px; height: 100px; overflow: visible;} /*visivle(기본값) 그대로 보여줌*/
.size7{ width:200px; height: 100px; overflow: hidden;}/* hidden : 내용이 넘치면 숨기기*/
.size8{ width:200px; height: 100px; overflow: scroll;}/* scroll 항상 스크롤*/
.size9{ width:200px; height: 100px; overflow: auto;}/* atuo 내용이 넘쳣을때만 스크롤 */
/*  overflow-y: 세로축설정; overflow-x: 가로축설정 */
.size10{ width:200px; height: 100px; overflow-y: auto; overflow-x: hidden;}