
.box{
  border: 1px solid red;
  padding: 30px;

}

.back1{
  background-color: aquamarine;
  background-color: #00ffff;
  
  background-color: rgb(0,0,255);
  /*rgba : rgba(0,0,255; 0~1)*/
  background-color: rgb(0,0,255,0.5);
}

/*[1] 이미지 삽입할때 img 대신에 배경으로 가능 */
.back2{
  /*background-imgage : url("사진경로") */
  background: url("./배경.jpg");
 /*background-repeat : norepeat 채우기 없음 */
 background-repeat: no-repeat;
/* background-position: center : 사진위치 설정가능*/
 background-position: left;
}

/*[2]*/
.back3{
 background-image:  url("./패턴.jpg");
 background-repeat: repeat;/* 기본값 : 만일 비어있는 공간을 반복채움(패턴)*/ 
}

.back4{
  background-image: url("./배경.jpg");
  background-repeat: no-repeat;
  background-size: cover;/* 비율 유지,. 질림 생길 수 있음*/
  background-position: center;
  background-attachment: fixed; /* 패럴랙스 : 스크롤을 이동해도 배경이미지는 고정된다*/
}

.box2{
  width: 100px; height: 100px;
  background-image: url("아이콘.png");
  background-repeat: no-repeat;
  background-position: -50px -10px;/* 위치 : left , top*/
}