
*{

  padding: 0px;
  margin: 0px;

font-size: 12px;
}
a{
  text-decoration-line: none;
  color: black;
}

li{
  list-style-type : none; 
  padding-left: 20px;
}

.header{
  display: flex;
  width: 1680px;
  position: relative;
}

.header1 > ul{
  display: flex;
  justify-content: end;
    width: 1640px;
}


.header2{
  display: flex;
  justify-content: space-between;

}

.header2 > ul{
  display: flex;

}

.검색{
  text-align: center;
  padding-top: 30px;
}


ul > li > a:hover{
  color: red;
}

.main1-1{
  width: 1680px;
} 
.main1-1 > img{
  width: 100%;
}
.main2 > ul {
  text-align: center;
  margin: 40px 0px;
}

.main3{
  display: flex;
  justify-content: center;
}

.rv2{
  color: gray;
  font-size: 10px;
}


.rv4{
  color: gray;
  text-decoration: line-through;
}
.main4{
  display: flex;
    justify-content: center;
}

.goods{
  padding: 20px;
  width: 300px;
}
.goods > img{
  width: 100%;
}

.footer1{
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.footer1-1{
  margin: 0px 30px;
}

.footer2{
  color: gray;
  text-align: center;
}