
*{
  padding: 0px;
  margin: 0px;
font-size: 12px;
}

a{
  text-decoration-line: none;
  color: black;
}
li{list-style-type : none; }

.header{
display: contents;
background-color: white;

  
}

.header1 > ul{
  display: flex;
  justify-content: end;
  margin: 15px;
}

.header1 >ul >li{padding-left: 40px;}


.header2{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid gray;
  position: sticky;
  top: 5px;
  background-color: white;
}

.header2 > ul
{
  display: flex;
  padding: 20px;
}

.header2 >ul >li{
    padding-left: 50px;
}

.검색{
  padding-top: 20px;
}

.검색 > div
{
  display: flex;
  border-bottom: 1px solid black;
}

input{border: 0px;}
ul > li > a:hover{
  color: red;
}


.main1-1{

  
} 
.main1-1 > img{
  width: 100%;
}
.main2{
  text-align: center;
  margin: 40px 0px;
}

.main2 > h3{
  font-size: 20px;

}

.main2 > li{
  color: gray;
}

.main3{
  display: flex;
  justify-content: center;
}

.rv2{
  color: gray;
  font-size: 10px;
}

.rv4{
  display: flex;
  justify-content: space-between;
}

.가격{
  color: gray;
  text-decoration: line-through;
}

.할인가격{

  color: red;
  font-weight: bold;
}
.main4{
  display: flex;
    justify-content: center;
}

.review{
  display: flex;
  justify-content: space-between;
}

.review2{
  color: gray;
}
.goods{
  padding: 20px;
  width: 370px;
}
.goods > img{
  width: 100%;
}

.footer1{
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.footer1-1{
  margin: 0px 30px;
}

.footer2{
  color: gray;
  text-align: center;
}

.popup{
  position: fixed;
  top: 400px;
  right: 10px;
 
}

.popup1{
   background-color: #eeeeee;
   margin: 2px;
   width: 30px;
   display: flex;
   justify-content: center;
     padding: 10px;
}
.popup1 > img{
  width: 80%;

}