
*{
  padding: 0px;
  margin: 0px;
font-size: 12px;
}

a{
  text-decoration-line: none;
  color: black;
}
li{list-style-type : none; }

.header{
display: contents;
background-color: white;

  
}

.header1 > ul{
  display: flex;
  justify-content: end;
  padding: 15px;
  border-bottom: 1px solid gray;

}

.header1 >ul >li{

  padding-left: 40px;

}


.header2{
  display: flex;
  justify-content: space-between;

  position: sticky;
  top: 5px;
 background-color:rgba(255, 255, 255,0.5) ;
}

.header2 > ul
{

  display: flex;
  text-align: center;
  justify-content: center;

}

.header2 >ul >li{
   padding: 20px 30px;
  }

.dropbar{
  position: absolute;
  top: 65px;
  left: 455px;
  background-color: white;
  width: 100px;
  text-align: center;
  display: none;
  
}

.dropbar2{
  position: absolute;
  top: 65px;
  left: 555px;
  background-color: white;
  width: 100px;
  text-align: center;
  display: none;
}
.bar{
  padding: 10px;
}
.bar > a{
  font-size: 15px;
}

.made:hover .dropbar{
  display: block;
}
.bigsize:hover .dropbar2{
  display: block;
}

.검색{
  padding-top: 20px;
}

.검색 > div
{
  display: flex;
  border-bottom: 1px solid black;
}
.검색 > div > input{
  outline: 0px;

  text-align: center;
}

input{border: 0px;}
ul > li > a:hover{
  color: red;
}


.main1-1{

  
} 
.main1-1 > img{
  width: 100%;
}
.main2{
  text-align: center;
  margin: 40px 0px;
}

.main2 > h3{
  font-size: 20px;

}

.main2 > li{
  color: gray;
}

.main3{
  display: flex;
  justify-content: center;
}

.rv2{
  color: gray;
  font-size: 10px;
}

.rv4{
  display: flex;
  justify-content: space-between;
}

.가격{
  color: gray;
  text-decoration: line-through;
}

.할인가격{

  color: red;
  font-weight: bold;
}
.main4{
  display: flex;
    justify-content: center;
}

.review{
  display: flex;
  justify-content: space-between;
}

.review2{
  color: gray;
}
.goods{
  padding: 20px;
  width: 370px;
}
.goods > img{
  width: 100%;
}

.footer1{
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.footer1-1{
  margin: 0px 30px;
}

.footer2{
  color: gray;
  text-align: center;
}

.popup{
  position: fixed;
  top: 400px;
  right: 10px;

   
}

.popup1{
   background-color: #eeeeee;
   margin: 2px;
   width: 30px;
   display: flex;
   justify-content: center;
    padding: 10px;
    position: relative;
    
}
.popup1 > img{
  width: 80%;

}
.popup1 >div{
  position: absolute;
  top:10px;
  right: 40px;
  border-radius: 10px;
  width: 70px;
  background-color: black;
  color: white;
  text-align: center;
  display: none;
}

.popup1:hover .popup1-1{
  display: block;
}