li{
  list-style-type: none;
}

#header{
  background-color: beige;
}
#header > ul{
  display: flex; 
  justify-content: center;
}
.menu{
  padding: 10px 20px;
  position: relative; /* 하위요소의 위치 기준점 설정*/
}

.submenu{
  position: absolute; /* 상위요소 기준으로 위치 설정*/
  top: 40px;
  padding: 10px;
  background-color: beige;
  display: none; /* 배치방법 : none = 숨기기*/
}
/* 만일 menu에 hover(마우스 올렸을때) 했을때 하단바 보이게 하기*/
.menu:hover .submenu{display: block;}


#header2{
  background-color: skyblue;
}
#header2 > ul{
  display: flex; 
  justify-content: center;
  position: relative;
}

#header2 >ul>li{
  padding: 10px;
}

.submenu2{
  position: absolute;
  width: 100%;
  background-color: skyblue;
  top: 40px;
  display: none;
}

#header2 > ul:hover .submenu2{ display: block;}

*{padding: 0px;margin: 0px;}








