


.title{ font-family: "맑은 고딕";
        font-size: 25px;
}

.content1{ color: blue;
          font-weight: 900;
          font-size: 15px;
          word-spacing: 15px;
          letter-spacing: 5px;
          line-height: 150%;
}

.content2  {
  color: red;
  text-decoration: underline overline line-through;
  font-size: 15px;
  text-align:center;
}

.content3 {
  color: red;
  text-decoration: underline overline line-through;
  font-size: 20px;
  text-align:center;
  font-weight: 700;
}

.content5 {
  color: red;
  text-decoration: underline overline line-through;
  font-size: 15px;
  text-align:center;
}