

@font-face {   /*  폰트 사이트에서 다운받은 폰트를 복붙한것*/
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: 700;
    font-display: swap; }

.title{ font-family: "맑은 고딕";
        font-size: ;
}

.content1{ color: blue;
          font-weight: 900;
          font-size: 15px;
          word-spacing: 15px;
          letter-spacing: 5px;
          line-height: 150%;
}

.content2 {
  color: red;
  text-decoration: underline overline line-through;
  font-size: 15px;
  text-align:center;
}

.content3 {
  color: red;
  text-decoration: underline overline line-through;
  font-size: 20px;
  text-align:center;
}

.content5 {
  color: red;
  text-decoration: underline overline line-through;
  font-size: 15px;
  text-align:center;
}