.writer{
    font-size: 18px;
    
    font-weight: bold;
}
.content{
    font-size: 13px;
    word-spacing: 10px;
    letter-spacing: 1px;
}
h1{  
     font-size: 35px;
     text-align:center;
     color :brown;
     font-family: 맑은고딕;
}

.질문{ font-size: 18px;
      font-weight: bold;
}

.답 {
  font-size: 13px;
  word-spacing: 10px;
letter-spacing: 1px;
} 

.submit{text-align:center}