
*{
  padding: 0px; margin: 0px;
  text-align: center;
  box-sizing:border-box ;  
}
a{
    text-decoration: none; 
    text-align: center;
}
.main{
  background-color: #f4f4f4;
  position: relative;
  height: 700px;
  width: 700px;
  margin: 50px;
}

.버튼{
  display: flex;
  background-color: black;
  color: white;
  border-radius: 100%;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 80px;
  height: 80px;
  font-size: 50px;
  padding-left: 25px;
}

.site{
  text-align: center;
  position: absolute;
  bottom: 70px;
  right: 10px;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 30px;
  display: none;
}

.버튼:hover .site{ display: block;}

.chat{
  border-radius: 100%;
  background-color:#f3e9ff;
  width: 60px;
  height: 60px;
  box-shadow: 0px 3px 2px gray;
  margin: 10px 0px;
  padding-top: 20px;

}

.help{
  border-radius: 100%;
  background-color: #fff2e9;
  width: 60px;
  height: 60px;
  box-shadow: 0px 3px 2px gray;
  margin: 10px 0px;
  padding-top: 20px;
}

.naver{
  border-radius: 100%;
  background-color: #e9fff0;
  width: 60px;
  height: 60px;
  box-shadow: 0px 3px 2px gray;
  margin: 10px 0px;
  padding-top: 20px;
}

.top{
  border-radius: 100%;
  background-color: #e7f0ff;
  width: 60px;
  height: 60px;
  box-shadow: 0px 3px 2px gray;
  margin: 10px 0px;
  padding-top: 20px;
}