
/* 전체 선택자*/
*{ 
  border : solid 3px red ;/* 테두리 : 선종류 선굵기 색상*/
  padding : 10px; /* 안쪽 여백*/
}

/* 클래스 선택자*/
.경기도{
  border-top: solid 1px orange ;      /* border : 테두리 */
  border-right: dotted 2px blue;
  border-bottom: dashed 3px black;
  border-left: double 4px green;
  border-radius : 10px 15px 20px 25px ; /* radius : 둥근 모서리(px을 하나만 적지 않고 여러게 적으면 시계방향으로 왼쪽 상단부터 순서대로 줌 */
  box-shadow:2px 2px 3px yellow ;     /* 그림자 */
  width:  500px;   /* 구역의 가로 사이즈*/
  height: 500px;   /* 세로 사이즈*/
  text-align: center; /*구역 정렬하는게 아니라 구역내 content(내용물)을 정렬하는 것*/
}

.안양시{
  padding-top : 20px;     /* padding :안양시 기준안쪽 여백 조정 */
  padding-right: 30px;
  padding-bottom: 40px;
  padding-left: 50px;

  margin-top: 50px;       /* margin : 안양시 기준 바깥 여백 조정*/
  margin-right: 60px;
  margin-bottom: 70px;
  margin-left: 80px;
}

.만안구{
  width: 200px; /* 가로 사이즈 고정, 만일 생략시 100%(부모크기)로 설정*/
  padding: 10px; 
  margin: 10px; 
  box-sizing:border-box ;  /* 구역 크기 : content + border+padding */
  box-sizing:content-box;  /* 구역 크기(기본값) : content */
  margin: 0 auto; /* 바깥 여백 이용한 구역 가로 가운데 정렬 */
  /* 0 : 위아래 여백 없음, auto : 왼쪽 오른쪽 자동이란 뜻 */
  /* 주의할점 : wuth가 100% 이거나 생략시 불가능 */
  background-color:pink ; /* 구역 색상 */
}

/* input , img 등 정렬 주의*/ /*이미지나 input을 만들기전 하나 더 박스를 만들어서 박스 내 적용*/
.사진{
  width: 100px;
  height: 100px;
  /* img 선택자로 직접 text-align 적용안됨*/
}
.input{
  width: 50px;
  text-align: center;  /* */





}
