.전체{
  text-align: center;
  border-left: skyblue;
  padding: 30px;
  padding-left: 500px;
  padding-right: 500px;
  font-size: 30px;
  margin-top: 300px;
  
}

.로그인박스{
  box-shadow: 0px 3px 6px pink;
  border-radius: 20px ;
}

.로그인{
  font-weight: 800;
  padding-top: 30px;
  padding-bottom: 20px;
}

.입력{
  padding-left: 30px;
  padding-right: 30px;
}
.입력박스{
  height: 25px;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px;
  
  border: solid 1px #eeeeee

}

.button{  
  background-color: blue;
  color: aliceblue;
  margin: 10px;
  width: 70px;
  height: 30px;
  border-radius: 10px;
}

.안내{
  font-weight: 500;
  font-size: 20px;
  margin: 10px;
  padding-bottom: 40px;
}

.회원가입{
  color: blue;
}
