/* 전체 적용*/
*{
  margin: 0px;
  padding: 0px;
 font-size: 12px;
  box-sizing: content-box;   
font-family: "Noto Sans KR", sans-serif;
}

a{ /* a마크업 기본 css 제거*/
  text-decoration: none; 
  color: black;
}

li{
  list-style-type : none; 
}
body{
  width: 100%;
  height: 100%;
}
html{
  width: 100%;
  height: 100%;
}

/* 바탕 */
.background{
  display: flex; 
 height: 100%;
  background-color: #f8f8f8;
width: 100%;
}

.wrap{
  display: flex;
  background-color: #f8f8f8;
   justify-content: space-evenly;
   width: 100%;
 height: 100%;
}

/* 오른쪽 화면 */
.pc2{ 
  padding: 90px 0px 0px 30px;
  width: 300px;
  height: 832px;
}

.right1{ 
  text-align: center;
  padding: 20px 0px ;
}

.right2{ 
  display: flex;
  margin-bottom: 30px;
}
.right3{
   display: flex;
   justify-content: space-between;
}
.right4{
  padding-top: 20px;
}

.right2 > ul > li{ margin-top: 20px; font-size: 18px;}